@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

button:focus {
  @apply outline-2 outline outline-neutral-darkBlue;
}

.input:focus ~ .placeholder,
.hide-placeholder {
  @apply left-16 opacity-0 invisible;
}

.input:focus ~ .field-icon {
  @apply bg-white rounded-md -left-1 -translate-y-[80%] shadow-lg shadow-gray-300;
}

.input:focus ~ .toggle-password {
  @apply bg-white rounded-md shadow-md shadow-gray-200;
}

.show-password span {
  @apply absolute top-[6px] -left-1 block w-[140%] h-[2px] bg-black rounded-md -rotate-45 scale-x-0 transition-all;
}

.slash span {
  @apply scale-x-100;
}
