@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

button {
  @apply focus:outline-4 focus:outline focus:outline-neutral-darkViolet;
}

.url-shortener {
  background-image: url(./assets/images/bg-shorten-mobile.svg);
  @apply bg-primary-darkVoilet bg-no-repeat bg-cover bg-right-top md:bg-left-top;
}

@media only screen and (min-width: 768px) {
  .url-shortener {
    background-image: url(./assets/images/bg-shorten-desktop.svg);
  }
}

.url-shortener input:focus ~ .placeholder-text {
  @apply left-10 opacity-0 invisible;
}
